<!DOCTYPE html>
<html>
<head>
	<title> DIVVY </title>
	

</head>
<body>
	<nav>
		<p>
			Username use Rails to get name
		</p>
		<ul>
			<li><a href="#">drop down</a>
				<ul>
				<li><a href="#">my profile</a></li>
				<li><a href="#">log out</a></li>
				</ul>
			</li>
			
		</ul>

	</nav>

</body>
</html>